<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>북마크 추가</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>북마크 추가</h2>
    <form id="addBookmarkForm">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" required>
        </div>
        <div class="form-group">
            <label for="bookmarkUrl">주소</label>
            <textarea class="form-control" id="bookmarkUrl" required></textarea>
        </div>
        <div class="form-group">
            <label for="imageFile">이미지 파일</label>
            <input type="file" class="form-control-file" id="imageFile" required>
        </div>
        <button type="submit" class="btn btn-primary">추가</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('#addBookmarkForm').on('submit', function(e) {
    e.preventDefault();
    var formData = new FormData(this);
    formData.append('name', $('#name').val());
    formData.append('bookmarkUrl', $('#bookmarkUrl').val());
    formData.append('imageFile', $('#imageFile')[0].files[0]);

    $.ajax({
        url: '/addBookmark',
        method: 'POST',
        processData: false,
        contentType: false,
        data: formData,
        success: function() {
            alert('북마크가 추가되었습니다.');
            window.location.reload();
        },
        error: function() {
            alert('북마크 추가에 실패했습니다.');
        }
    });
});

    });
</script>
</body>
</html>
